<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="My wallet">
    <title>My wallet</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/user.css">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header"><a class="navbar-brand navbar-link" href="#">My wallet</a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li role="presentation"><a href="index.html">Transactions </a></li>
                    <li role="presentation">
                        <a href="myProduct.html"> </a>
                    </li>
                </ul><a class="btn btn-info btn-sm navbar-btn navbar-right" role="button" href="registrationlogin_form.html">Sign in</a><a class="btn btn-default btn-sm navbar-btn navbar-right" role="button" href="registrationlogin_form.html">Sign up</a></div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-md-offset-0"></div>
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Danh sách sản phẩm</h3></div>
                    <div class="panel-body"></div>
                </div>
            </div>
        </div>
    </div>
    <footer class="site-footer">
        <div class="container">
            <hr>
            <div class="row">
                <div class="col-sm-6">
                    <h4 class="text-uppercase text-left">Contact: </h4>
                    <p>1412465 - Nguyễn Đình Sơn </p>
                </div>
                <div class="col-sm-6">
                    <h4 class="text-uppercase text-center">ReactJS </h4></div>
            </div>
        </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>